{% extends 'base.html' %}

{% block content %}
<div class="container-fluid px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{{ entry.id|string + '-'+ entry.slug }}">
                    <h2 class="post-title">{{ entry.title|safe }}</h2>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Bot</a>
                    on {{ entry.created.strftime("%B %-d, %Y")}}
                </p>
                <div class="box border rounded border-bottom border-primary">
                    <h3 class="legend">Question</h3>
                    <div class="content">
                        <p class="post-meta source">
                            Source:
                            <a href="{{ entry.question_url() }}" target="_blank" rel="noopener noreferrer">
                                <img src="https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.svg?v=6e4af45f4d66" height="25" />
                                {{ entry.question_url() }}
                            </a>
                            {% if entry.question_date %}
                            <br/>
                            Asked on
                            on {{ entry.question_date.strftime("%B %-d, %Y")}}
                            {% endif %}
                        </p>
                        {{ entry.question_body|safe }}
                        licensed under <a href="https://creativecommons.org/licenses/by-nd/2.0/" target="_blank" rel="noopener noreferrer">CC BY-ND 2.0</a>
                    </div>
                </div>
                {% if entry.answer %}
                <div class="box mt-5 border rounded border-bottom border-primary">
                    <h3 class="legend">Answer</h3>
                    <div class="content">
                        {{ entry.answer|safe }}
                    </div>
                </div>
                {% else %}
                <div class="box mt-4 border rounded border-bottom border-primary">
                    <h3 class="legend">Answer</h3>
                    <div class="content">
                        <p>Answer is still being generated. Please come back later.</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}